.card-large {
  /* width: 100%; */
  height: 75vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.icon-set {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}

.card-small {
  margin: 32px;
}
.card {
  margin: 16px;
}
@media only screen and (max-width: 768px) {
  .card {
    margin: 16px;
    width: 90vw;
  }
}

.prices {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.modal {
  height: 100vh;
}
